
.app {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.app .navbar {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    transition: .4s linear;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar-toggler {
    display: none;
}

.navbar.fixed {
    transition:  .4s linear;
    background-color: #ffffff;  
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 9%); 
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    font-family: 'Raleway', sans-serif ;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #0f0f0f;
    white-space: nowrap; 
    font-weight: 500;
    letter-spacing: .1rem;
}

.main-bg {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

.main-bg img {
   width: 100%;
   top: 10px;
   right: -180px;
   position: relative;
    z-index: -1;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 250px;
}

.main-header h1 {
    font-family: 'Raleway', sans-serif ;
    font-size: 35px ;
    font-weight: 400 ;
    letter-spacing: .3rem;
    width: 400px;
    line-height: 3rem ;
}

.shoppingСart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.shoppingСart span {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
}

.nav div {
    flex: 1;
}

.btn-cart {
    background-image: url('../images/bascet.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 26px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.shoppingСart img {
    cursor: pointer;
    width: 42px;
    height: 42px;
}

.btn-shop {
    font-family: 'Raleway', sans-serif ;
    background: #202020;
    font-size: 18px;
    letter-spacing: .085em;
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 300;
    transition: .2s;
}

.btn-shop:hover, .btn-buy:hover {
    background: #0e0e0e;
}

.image-coffee {
    width: 200px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 460px !important;
    background-color: #fbfbfb !important;
    margin: 0 20px 20px 20px;
    padding: 30px 30px;
    transition: all .1s linear;
    border: none !important;
}

.card h2 {
    font-family: 'Raleway', sans-serif ;
    font-size: 20px;
    color: #000;
    text-align: center;
}

.par-discription {
    font-size: 15px;
    letter-spacing: 0.01rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: #4a4a4a;
    margin: 0;
}

.card:hover {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.cardBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px auto 0 auto;
    max-width: 1360px;
}

.cardBox-l {
    padding-left: 20px;
}

.cardBox-r {
    padding-right: 20px;
}

.price {
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    margin: 0;
}

.weight {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #000;
    margin: 0;
}

.btn-buy img {
    margin-right: 5px;
}

.btn-buy {
    font-family: 'Raleway', sans-serif ;
    border: 1px solid #202020;
    background-color: #202020;
    color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    background-position: 15px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: .2s;
}

.count {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 10px;
}

.count p {
    margin: 0;
}

.count_min, .count_plus {
    display: inline-block;
    padding: 0 12px 0 12px;
    vertical-align: middle;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.count_plus {
    font-size: 26px;
}

.block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: -150px;
}


.filterBtn {
    font-family: 'Raleway', sans-serif ;
    border: 1px solid #b0b0b0;
    border-radius: 152px;
    font-size: 15px;
    line-height: 19px;
    padding: 15px 25px;
    margin: 5px 15px;
    color: #202020;
    background-color: transparent;
    transition: .5s;
  }
  
  .filterBtn:hover {
    background: #cfcfcf;
  }
  
  .filterBtnSelected {
    font-family: 'Raleway', sans-serif ;
    border: 1px solid #b0b0b0;
    border-radius: 152px;
    font-size: 15px;
    line-height: 19px;
    padding: 15px 25px;
    margin: 5px 15px;
    color: #fff;
    background-color: #202020;
    border: 1px solid #202020;
    transition: .5s;
}

.footer {
    border-top: 0.5px solid #d6d6d6;

}

.footer__inner {
    margin: 30px auto 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu li, .footer-3 p, .footer-3 a {
    margin-bottom: 10px;
}

.footer-menu a, .footer-3 p, .footer-3 a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #0f0f0f;
}

.footer-1 a:hover {
    color: #0f0f0f;
}

.footer__bottom p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    color:rgb(255, 255, 255);
    opacity: 0.5;
}

.bottom-f {
    background-color: #222020;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width:1200px) {
    .block-btn {
        margin-top: -100px;
    }

    .main-header {
        top: 150px;
    }

    .block1-l img {
        width: 600px;
    }

    .block1-r {
        margin-left: 10px;
    }

    .block1-r p br {
        display: none;
    }
}


@media (max-width:1100px) {
    .main-header h1 {
        font-size: 30px;
    }

    .card-about {
        max-width: 800px;
    }

    .card-about img {
        width: 370px;
    }

    .card-about__discription p:first-child {
        font-size: 32px;
    }

    .card-about__discription p:last-child {
        line-height: 30px;
        font-size: 17px;
    }
}

@media (max-width:992px) {

    .main-header h1 {
        font-size: 27px;
        letter-spacing: 0.1rem;
    }

    .btn-shop {
        width: 75%;
    }

    .btn-cart {
        width: 20px;
        height: 25px;
    }

    .block-btn {
        margin: 0;
    }

    .menu li {
        padding: 0 20px 0 0;
    }

    .menu li a {
        font-size: 15px;
    }

    .card {
        width: 300px;
        height: 440px !important;
        padding: 20px 20px;
    }

    .cards {
        margin: 20px auto 30px auto;
    }

    .filterBtn, .filterBtnSelected {
        font-size: 14px;
        line-height: 19px;
        padding: 12px 16px;
        margin: 5px 10px;
    }

    .par-discription {
        font-size: 14px;
    }

}

@media (max-width:900px) {

    .card h2 {
        font-size: 18px;
    }

    .image-coffee {
        width: 180px;
    }

    .price {
        font-size: 17px;
    }

    .main-bg img {
        top: 30px;
        right: -130px;
    }

    .main-header h1 {
        font-size: 25px;
    }

    .contact a {
        font-size: 14px;
    }
}

@media (max-width:766px) {

    .menu li a {
        font-size: 14px;
    }

    .main-header h1 {
        font-size: 22px;
        line-height: 2rem;
    }

    .btn-shop {
        width: 65%;
        padding: 9px 0;
        font-size: 15px;
    }

    .filterBtn, .filterBtnSelected {
        font-size: 13px;
        line-height: 19px;
        padding: 8px 10px;
        margin: 5px 5px;
    }

    .card {
        height: auto !important;
        margin: 20px 10px 10px 10px;
    }

    .image-coffee {
        width: 160px;
    }

    .cardBox-l, .cardBox-r {
        padding: 0;
    }
}

@media (max-width:576px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }

    .navbar-toggler {
        display: block;
    }

    .block-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        width: 70px;
    }

    .block-menu{
        background-color: #fff;
        transition: all 2s linear;
        display: none;
        border-top: 1px solid #9d9d9d;
    }

    .block-logo {
        padding-bottom: 10px;
    }

    .menu {
        margin: 10px 0;
    }

    .block-menu.show {
        display: block;
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main-header h1 {
        font-size: 15px;
        line-height: 2rem;
        width: 300px;
    }

    .main-header {
        top: 100px;
    }

    .main-bg img {
        top: 50px;
        right: -30px;
    }

    .nav.bgColor {
        background-color: #ffffff;
    }

    .main-header h1 {
        width: 200px;
        line-height: 1.5rem;
    }

    .btn-shop {
        padding: 5px 0;
    }

    .footer-links {
        flex: 1;
    }

    .footer-menu a, .footer-3 p, .footer-3 a {
        font-size: 12px;
    }

    .footer-menu li, .footer-3 p, .footer-3 a {
        margin:0;
    }

    .footer__bottom p {
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        font-weight: 300;
    }

}


@media (max-width:576px) {
    .block-btn {
        margin: 50px 0 0 0;
    }
}